@charset "UTF-8";

* {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #111C34;
  --color-text-light: #FFFFFF;
  --color-highlight: #E3B132;
  --color-card-bg: #1e1e2f;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  padding: 15px 30px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-highlight);
  margin-left: 20px;
  
}

.logo a{
  text-decoration: none;
  color:var(--color-highlight) ;
}

.logo img{
position: absolute;
top: 18px;
left: 25px;
width: 18px;
background-color: #E3B132;
border-radius: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--color-highlight);
}

body,
html {
  height: 100%;
  width: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('fundo.png');
  background-size: cover;
  background-position: center;
 
  z-index: -1;
}

.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  

}

.cadastrar{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;


}
.bi.bi-google{
  padding: 4px;
  color: red;
}
.botoes button{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition:trasform 0.5s ease, background-color 0.4s ease;
}

.botoes button:hover{
  transform: scale(1.2);
  background-color:rgb(218, 190, 32) ;
}


main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  background-color: rgba(247, 243, 243, 0.226);
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  
}

.bigode {
  width: 40px;
  margin: 0 auto 10px auto; /* centralizado com espaçamento inferior */
  display: block;
  background-color: rgb(218, 190, 32);
  border-radius: 5px;
}


h2 {
  color: rgb(218, 190, 32);
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: aliceblue;
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-align: center;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo {
  width: 90%;
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 5px;
  color:aliceblue;
  font-weight: bold;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 8px;
  border: 3px solid #ccc;
  transition: border-color 0.5s ease;
}
.input-wrapper:hover{
  border-color: rgb(248, 212, 5);
}

.input-wrapper i {
  margin-right: 8px;
  color: #777;
  font-size: 1rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 0.95rem;
  transition: 0.3s ease;
}





#submit {
  width: 50%;
  padding: 10px;
  background-color: rgb(218, 190, 32);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

#submit:hover {
  transform: scale(1.2);
  
}

.botao {
  display: inline-block;
  margin-top: 15px;
  font-size: 0.85rem;
  text-decoration: none;
  color: aliceblue;
}

.material-icons{
  margin-top: 4.3px;
  color: rgb(218, 190, 32);
}

#rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  text-align: center;
  flex-direction: column; /* MUITO importante */
}


.logo-rodape {
  display: block;
  width: 80px;
  border-radius: 99px;
  margin: 10px auto 0 auto; /* Centraliza horizontalmente */
}



#rodape p{
  color: aliceblue;
  font-weight: bold;
  filter: drop-shadow(3px 4px 3px black);
  
}
